<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--Genero las etiquetas que seran leidos por el programam--> 
<appSettings>
  <add key="minombre" value="alex"/>
  
</appSettings>    
  


    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>