<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--User must be in this format (from the Front end App) USER_KEY1 where KEY should be like... USER_ALEX   USER_CATALINA-->
    <add key="user_Key1" value="yourusername"/>
    <add key="pass_Key1" value="yourpassword"/>

    <add key="user_Alex" value="passworddealex"/>
    <add key="pass_Key4" value="yourpassword"/>
    
    <add key="CurrentUser" value="Alex Torres"/>
  
  
  </appSettings>
</configuration>