<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    
    <add key="user_Fran" value="123"/>
    <add key="pass_Key1" value="yourpassword"/>

    <add key="user_Pedro" value="123"/>
    <add key="pass_Key4" value="yourpassword"/>

  </appSettings>
</configuration>